@import url(recursos.css);

header{
    display: flex;
    position: fixed;
    justify-content: space-around;   
    align-items: center; 
    background-color: #fff;
    height: 100px;
    width: 100%;
    z-index: 1000;
}
header a img{
    width: 100px;
}

nav{
    padding-top: 10px;
    display: flex;
}
.nav ul{
    float: right;
    align-items: center;
}
.nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}
.nav a{
    color: var(--negro);
    text-decoration: none;
    font-weight: 700;
    padding: 5px;
}
.nav a:hover{
    color: var(--rojo);
    border-bottom: 4px solid var(--rojo);
} 
.checkbtn{
    float: right;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.checkbtn img{
    width: 20px;
}
.nav #check{
    display: none;
}

/*ESTILOS DEL FOOTER*/
footer{
    background-color: var(--negro);
}
.container{
    padding: 50px;
}
.div-footer01{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 30px 0 20px 0;
}
.div-sociales span{
    padding-right: 20px;
    font-size: 18px;
}
.div-sociales i{
    font-size: 25px;
    padding-right: 15px;
}
.div-footer02{
    display: flex;
    justify-content: space-around;
    color: var(--blanco);
}
.div-group{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.div-group h3{
    font-size: 15px;
    font-weight: 700;
}
.div-group span{
    font-size: 15px;
    font-weight: 700;
}
.div-horario p{
    font-size: 14px;
    text-align: left;

}

.div-horario, .div-telefono, .div-fijo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.div-telefono a, .div-fijo a{
    font-size: 14px;
    text-decoration: none;
    color: var(--blanco);
}
.div-telefono a:hover, 
.div-fijo a:hover,
.div-direccion a:hover{
    font-weight: 600;
    color: var(--naranja);
    transition: .5s;
}
.div-direccion a{
    text-decoration: none;
    color: var(--blanco);
}

.footer-bottom {
    text-align: center;
    color: #fff;
    background-color: #222;
    padding: 10px 0;
    font-size: 14px;
}

.div-group ul img{
    padding: 10px 0 10px;
    width: 80px;
}


/* ESTILOS ADAPTABLES A DISPOSITIVOS */
@media (max-width: 820px){
    /* Estilos para dispositivos móviles */
    header{
        justify-content: space-between;
        padding: 0 30px;
    }
    header a img{
        width: 200px;
    }
    .checkbtn{
        display: block;
    }
    .nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}

@media only screen and (min-width: 820px) and (max-width: 1023px) {
    /* Estilos para tablets */
}

@media only screen and (min-width: 1024px) {
    /* Estilos para escritorios */
}
