@import url(recursos.css);
@import url(header-footer.css);
@import url(crucero.css);




.banner{
    background-image: url(../img/banner-principal.png);
    background-size: cover;
    width: 100%;
    height: 500px;
    /* filter: brightness(80%); Baja la opacidad de la imagen */
    transform: translate(0,20%);
    margin-bottom: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner h1{
    font-weight: 800;
    color: hsl(0, 0%, 100%);
    padding: 10px;

}
.div-cotizador{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    opacity: 0.8;
}
.div-clm-1{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.div-clm-1 span{
    font-size: 20px;
    font-weight: 800;
    color: var(--rojo);
}
.div-clm-1 button{
    font-size: 15px;
    font-weight: 600;
    color: var(--rojo);
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid var(--rojo);
    background-color: transparent;
}
.div-clm-1 button:hover{
    background-color: var(--rojo);
    color: var(--blanco);
    transition: 0.5s;
    
}
.div-clm-2{
    display: flex;
    font-size: 12px;
    padding: 10px 0;

}
.div-input-icono{
    position: relative;
    padding: 10px;
    color: var(--rojo);
}
.div-input-icono ::placeholder{
    color: var(--rojo);
}
.div-input-icono input[type="text"]{
    width: 150px;
    padding: 10px 0 10px 40px;
    border-radius: 8px;
    border-color: var(--rojo);
}
.div-input-icono input[type="button"]{
    width: 80px;
    padding: 10px 75px 10px 35px;
    border-radius: 8px;
    background-color: var(--rojo);
    color: var(--blanco);
    font-weight: 800;
}
.div-input-icono i{
    position: absolute;
    left: 24px;
    top: 23px;
    font-size: 15px;
}

.section-vuelos h2,p{
    text-align: center;
}
.section-vuelos h2{
    font-weight: 800;
}
.section-vuelos p{
    font-size: 18px;
    padding-bottom: 20px;
}
.div-vuelos{
    display: grid;
    gap: 24px 48px;
    grid-template-columns: 278.8px 278.8px 278.8px 278.8px;
    padding: 20px;
}
/*.div-vuelos2{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}*/

.div-vuelos a, .div-vuelos2 a{
    text-decoration: none;
}
.btn-ver-mas{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 43%;
    padding: 10px;
    margin-top: 30px;
    border: 2px solid var(--rojo);
    border-radius: 10px;
    text-decoration: none;
    color: var(--rojo);
}
.btn-ver-mas:hover{
    background-color: var(--rojo);
    color: var(--blanco);
    transition: 0.5s;
}
.card{
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 6px -1px rgba(16, 24, 40, 0.1019607843);
    cursor: pointer;
}
.card .img{
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 250px;
    line-height: 24px;
    border-radius: 20px 20px 0 0;
    text-align: center;
}
.ver-mas{
    position: relative;
    top: 50%;
    color: transparent;
    padding: 150px 100px;

}
.card .img:hover{
    filter: brightness(70%);
    transition: 0.5s;
    display: inline;
}
.ver-mas:hover{
    color: #fff;
    font-weight: 900;
    transition: 0.5s;
}
.div-info{
    display: flex;
    flex-direction: column;
    gap: 18px;
    grid-area: 2 / auto / 3;
    justify-content: space-between;
    line-height: 24px;
    padding: 24px;
}
.title{
    font-size: 18px;
    font-weight: 600;
    text-align: left;

}
.description{
    font-size: 16px;
}
.precio{
    font-size: 14px;
    text-align: right;
    font-weight: 300;
}
.precio .num-precio{
    font-size: 18px;
    font-weight: 600;
    padding-left: 5px;
    line-height: 26px;
    color: var(--rojo);
}

/*ESTILOS SECCIÓN SERVICIOS*/
.div-section .div-sectOp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div-beneficios{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 20px;
    width: 100%;
    flex-basis: 400px;
    min-height: 180px;
    transition: all 0.2s ease-in-out;
}
.div-beneficios i{
    text-align: center;
    font-size: 30px;
    color: var(--naranja);
}
.div-beneficios span{
    padding-top: 30px;
    color: var(--naranja);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.div-section-paquetes{
    display: grid;
    grid-template-columns: 22% 0%
}
.div-col-1 h2{
    font-weight: 800;
}
.div-col-1 p{
    text-align: left;
    padding: 10px 50px 155px 0;
}
.div-col-1 a{
    border: 2px solid var(--rojo);
    border-radius: 10px;
    color: var(--rojo);
    text-decoration: none;
    padding: 15px;
    font-weight: 600;
}
.div-col-1 a:hover{
    background-color: var(--rojo);
    color: var(--blanco);
    transition: 0.5s;
}

.div-col-2{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 30px;
}
.div-col-2 a{
    text-decoration: none;
}


/* ESTILOS ADAPTABLES A DISPOSITIVOS */
@media only screen and (max-width: 480px){
    /* Estilos para dispositivos móviles */
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    /* Estilos para tablets */
}

@media only screen and (min-width: 1025px) {
    /* Estilos para escritorios */
}
